@page "/Logs"
@inject ILogService LogService

<Table style="width:100%" cellpadding="5">
    @{
        int index = 1;
    }

    <TableBody>
        @foreach (var logEntry in Logs)
        {
            <LogComponent LogEntry="@logEntry" Row=@index />
            index++;
        }
    </TableBody>

</Table>

@code {
    private IEnumerable<ILogEntry> Logs { get; set; } = new List<ILogEntry>();

    protected override async Task OnInitializedAsync()
    {
        Logs = (await LogService.GetAll()).TakeLast(10).Reverse();
    }
}