@inject IUserService UserService

<h3>AddUserComponent</h3>
<EditForm Model="@User" OnSubmit="@SaveNewUser">
    <InputText @bind-Value="User.Name" />
    <br />
    <label>Name</label>
    <br />
    <button @onclick="@SaveNewUser" >Save to Database</button>
</EditForm>


@code {
    private IUser User { get; set; } = new MongoUser();

    private async Task<IUser> SaveNewUser()
    {
        return await UserService.Create(User);
    }
}