@inject IUserService UserService

<h3>AddUserComponent</h3>
<EditForm Model="@User" OnValidSubmit="@SaveNewUser">
    <DataAnnotationsValidator />
    <Blazorise.ValidationSummary />
    <InputText @bind-Value="User.Name" />
    <br />
    <label>Name</label>
    <br />
    <button type="submit">Save To Database</button>
</EditForm>


@code {
    private IUser User { get; set; } = new MongoUser();

    private async Task<IUser> SaveNewUser()
    {
        return await UserService.Create(User);
    }
}