@page "/Users"
@inject IUserService UserService

@if (Users.Count() > 0)
{
    foreach (IUser user in Users)
    {
        <table style="width:100%" cellpadding="5">
            <UserComponent User="@user" />
        </table>
}
}
else
{
    <h1>No users found!</h1>
}



<AddUserComponent />


@code {
    private IEnumerable<IUser> Users { get; set; } = new List<IUser>();

    protected override async Task OnInitializedAsync()
    {
        Users = await UserService.GetAll();
    }
}
